nav 

    if user
        a(href="/activities/home") Activities
        br
        a(href="/activities/add") Add activity 
        br
        a(href="/users/logout") Logout 
        br
        a(href="/profile") Profile 
        br
        a(href="/calendar") Calendar
        br
    
    else 
        a(href="/users/register") Register 
        br
        a(href="/users/login") Login 
        br
        
